<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Contracts</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    payments
                </i>
                Payroll
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Contracts</li>
    </ol>
</div>

<mat-card class="daxa-card create-product-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="mb-25">
                    <label class="main-label d-block lh-1 text-black">Template</label>
                    <mat-form-field>
                        <mat-label>Template</mat-label>
                        <mat-select name="selectedProject" (selectionChange)="getContracts($event)">
                            <mat-option *ngFor="let item of templates" [value]="item.payTempHeadId">
                                {{ item.templateName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="products-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                    <!-- Employee Name Column -->
                    <ng-container matColumnDef="employeeName">
                        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.employeeName }}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Contract Description Column -->
                    <ng-container matColumnDef="contractDesc">
                        <th mat-header-cell *matHeaderCellDef>Contract description</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.descrption }}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Start date Column -->
                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef>Start date</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.startDate | date: "dd-MM-yyyy" }}
                            </div>
                        </td>
                    </ng-container>

                    <!-- End date Column -->
                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef>End date</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.endDate | date: "dd-MM-yyyy" }}
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expand">
                        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button aria-label="expand row"
                                (click)="toggle(element); $event.stopPropagation()" class="example-toggle-button"
                                [class.example-toggle-button-expanded]="isExpanded(element)">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length"
                            style="padding: 0;">
                            <div class="example-element-detail-wrapper"
                                [class.example-element-detail-wrapper-expanded]="isExpanded(element)">
                                <div class="example-element-detail">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="m-1">
                                                <div class="display-flex-center">
                                                    <img src="images/deduction.png" width="30" alt="flag">
                                                    <label
                                                        style="margin: 6px;color: black;font-weight: 700;">Deductions:</label>
                                                </div>
                                                <ul style="margin-top: 2px;">
                                                    <li *ngFor="let item of element.contractLinesjson?.Deduction">
                                                        {{item?.DeductionID
                                                        |getItemName:deductions:'payDeductId':'deductionName'}}:
                                                        {{item.AmountTemp}}</li>
                                                    <div *ngIf="element.contractLinesjson?.Deduction?.length == 0">No deduction found</div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="m-1">
                                                <div class="display-flex-center">
                                                    <img src="images/salary.png" width="30" alt="flag">
                                                    <label
                                                        style="margin: 6px;color: black;font-weight: 700;">Earnings:</label>
                                                </div>
                                                <ul style="margin-top: 2px;">
                                                    <li *ngFor="let item of element.contractLinesjson?.Earning">
                                                        {{item.EarningID |
                                                        getItemName: earnings:'payEarningId':'earningName'}}:
                                                        {{item.AmountTemp}}</li>
                                                    <div *ngIf="element.contractLinesjson?.Earning?.length == 0">No earning found</div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="example-element-row"
                        [class.example-expanded-row]="isExpanded(row)" (click)="toggle(row)"></tr>

                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" colspan="5">
                            No data matching the filter
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator #paginator [length]="count" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons aria-label="Select page"></mat-paginator>
        </div>

    </mat-card-content>
</mat-card>