<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">{{title}}</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    {{icon}}
                </i>
                {{breadcrumb}}
            </a>
        </li>
        <li class="breadcrumb-item position-relative">{{title}}</li>
    </ol>
</div>