<!-- Breadcrumb -->
<div
    class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between"
>
    <h5 class="mb-0">Create Department</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">E-Commerce</li>
        <li class="breadcrumb-item position-relative">Create Region</li>
    </ol>
</div>

<!-- Create Region -->
<mat-card
    class="daxa-card create-product-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <form [formGroup]="RegoinForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="title mt-0">Add a Region</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Region Name</label
                                >
                                <mat-form-field>
                                    <mat-label>Region Name</mat-label>
                                    <input
                                        matInput
                                        placeholder="Enter Region Name"
                                        formControlName="regionName"
                                    />
                                    @if(RegoinForm.get('regionName')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Region Description</label
                                >
                                <mat-form-field>
                                    <mat-label>Region Description</mat-label>
                                    <input
                                        matInput
                                        placeholder="E.g.Region Description"
                                        formControlName="regionDescription"
                                    />
                                    @if(RegoinForm.get('regionDescription')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Organization Selection -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Organization</label
                                >
                                <mat-form-field>
                                    <mat-label>Select Organization</mat-label>
                                    <mat-select formControlName="orgId">
                                        @for (org of organizations; track org) {
                                        <mat-option [value]="org.orgId">
                                            {{ org.orgName }}
                                        </mat-option>
                                        }
                                    </mat-select>
                                    @if(RegoinForm.get('organization')?.hasError('required')){
                                    <mat-error>
                                        This field is required
                                    </mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Reference 1</label
                                >
                                <mat-form-field>
                                    <mat-label>Reference 1</mat-label>
                                    <input
                                        matInput
                                        placeholder="Reference 1"
                                        formControlName="refrence1"
                                    />
                                    @if(RegoinForm.get('refrence1')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Reference 2</label
                                >
                                <mat-form-field>
                                    <mat-label>Reference 2</mat-label>
                                    <input
                                        matInput
                                        placeholder="Reference 2"
                                        formControlName="refrence2"
                                    />
                                    @if(RegoinForm.get('refrence2')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Reference 3</label
                                >
                                <mat-form-field>
                                    <mat-label>Reference 3</mat-label>
                                    <input
                                        matInput
                                        placeholder="Reference 3"
                                        formControlName="refrence3"
                                    />
                                    @if(RegoinForm.get('refrence3')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Reference 4</label
                                >
                                <mat-form-field>
                                    <mat-label>Reference 4</mat-label>
                                    <input
                                        matInput
                                        placeholder="Reference 4"
                                        formControlName="refrence4"
                                    />
                                    @if(RegoinForm.get('refrence4')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Reference 5</label
                                >
                                <mat-form-field>
                                    <mat-label>Reference 5</mat-label>
                                    <input
                                        matInput
                                        placeholder="Reference 5"
                                        formControlName="refrence5"
                                    />
                                    @if(RegoinForm.get('refrence5')?.hasError('required')){
                                    <mat-error
                                        >This field is required</mat-error
                                    >
                                    }
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <mat-checkbox formControlName="active"
                                    >Active</mat-checkbox
                                >
                            </div>
                        </div>

                        <!-- Latitude -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Latitude</label
                                >
                                <mat-form-field>
                                    <mat-label>Latitude</mat-label>
                                    <input
                                        matInput
                                        placeholder="Enter Latitude"
                                        formControlName="lat"
                                    />
                                    <mat-error
                                        *ngIf="
                                            RegoinForm.get('lat')?.hasError(
                                                'required'
                                            )
                                        "
                                        >This field is required</mat-error
                                    >
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Longitude -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Longitude</label
                                >
                                <mat-form-field>
                                    <mat-label>Longitude</mat-label>
                                    <input
                                        matInput
                                        placeholder="Enter Longitude"
                                        formControlName="long"
                                    />
                                    <mat-error
                                        *ngIf="
                                            RegoinForm.get('long')?.hasError(
                                                'required'
                                            )
                                        "
                                        >This field is required</mat-error
                                    >
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Date Created (read-only field) -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Date Created</label
                                >
                                <mat-form-field>
                                    <mat-label>Date Created</mat-label>

                                    <input
                                        matInput
                                        formControlName="dateCreated"
                                        [matDatepicker]="picker3"
                                    />
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker3"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Last Updated (read-only field) -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label
                                    class="main-label d-block lh-1 text-black"
                                    >Last Updated</label
                                >
                                <mat-form-field>
                                    <mat-label>Last Updated</mat-label>

                                    <input
                                        matInput
                                        formControlName="lastUpdated"
                                        [matDatepicker]="picker2"
                                    />
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker2"
                                    ></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button
                    mat-button
                    [disabled]="isLoading || RegoinForm.invalid"
                    type="submit"
                >
                    <!-- Show loading indicator when loading -->
                    @if(isLoading){
                    <span>Loading...</span>

                    } @if(!isLoading && !editMode){
                    <span>Create Region</span>
                    } @if(!isLoading && editMode){
                    <span>Edit Region</span>
                    }
                </button>

                <button mat-button routerLink="'/ecommerce-page/sellers'">
                    Cancel
                </button>

                <!-- Display error message if any -->
                @if(errorMessage){
                <mat-error>{{ errorMessage }}</mat-error>
                }
            </div>
        </form>
    </mat-card-content>
</mat-card>
