<!-- Breadcrumb -->
<div
    class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between"
>
    <h5 class="mb-0">Branch Details</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Organization</li>
        <li class="breadcrumb-item position-relative">Branchs</li>
        <li class="breadcrumb-item position-relative">Branch Details</li>
    </ol>
</div>

<!-- Department Details -->
@if(BrancheDetails){
<mat-card
    class="daxa-card department-details-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="department-details-content">
                    <h3>{{ BrancheDetails.branchName }}</h3>
                    <div class="d-flex align-items-center lh-1">
                        <span class="text-black fw-medium d-block">
                            Active:
                            {{ BrancheDetails.active ? "Yes" : "No" }}
                        </span>
                    </div>
                    <ul>
                        <li class="text-body spaces">
                            <span class="text-black">branch ID:</span>
                            {{ BrancheDetails.branchId }}
                        </li>
                        <li class="text-body spaces">
                            <span class="text-black">Date Created:</span>
                            {{ BrancheDetails.dateCreated | date : "medium" }}
                        </li>
                        <li class="text-body spaces">
                            <span class="text-black">Last Updated:</span>
                            {{
                                BrancheDetails.lastUpdated
                                    ? (BrancheDetails.lastUpdated
                                      | date : "medium")
                                    : "Not Updated"
                            }}
                        </li>
                        <li class="text-body spaces">
                            <span class="text-black">References:</span>
                            {{ BrancheDetails.refrence1 }},
                            {{ BrancheDetails.refrence2 }},
                            {{ BrancheDetails.refrence3 }},
                            {{ BrancheDetails.refrence4 }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
}
