<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Earning</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    payments
                </i>
                Payroll
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Earning</li>
    </ol>
</div>

<mat-card class="daxa-card create-product-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <form [formGroup]="EarningForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <!-- Earning name -->
                <div class="col-md-4 col-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Earning name</label>
                        <mat-form-field>
                            <mat-label>Earning name</mat-label>
                            <input matInput placeholder="Earning name" formControlName="earningName" required />
                            <mat-error *ngIf="EarningForm?.get('earningName')?.hasError('required') && submitted">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Earning description -->
                <div class="col-md-4 col-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Earning description</label>
                        <mat-form-field>
                            <mat-label>Earning description</mat-label>
                            <input matInput placeholder="Earning description" formControlName="earningDesc" required />
                            <mat-error *ngIf="EarningForm?.get('earningDesc')?.hasError('required') && submitted">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Earning reference -->
                <div class="col-md-4 col-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Earning reference</label>
                        <mat-form-field>
                            <mat-label>Earning reference</mat-label>
                            <input matInput placeholder="Earning reference" formControlName="refrence" required />
                            <mat-error *ngIf="EarningForm?.get('refrence')?.hasError('required') && submitted">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mt-3 btn-box">
                <button mat-button mat-flat-button class="daxa" type="submit" [disabled]="EarningForm.invalid">
                    Create Earning
                </button>
                <!-- Error Message -->
                <mat-error *ngIf="errorMsg">{{ errorMsg }}</mat-error>
            </div>
        </form>

        <hr>

        <div class="products-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">
                    <!-- Earning Name Column -->
                    <ng-container matColumnDef="earningName">
                        <th mat-header-cell *matHeaderCellDef>Earning Name</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.earningName }}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Earning Description Column -->
                    <ng-container matColumnDef="earningDescription">
                        <th mat-header-cell *matHeaderCellDef>Earning Description</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.earningDesc }}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Earning reference Column -->
                    <ng-container matColumnDef="refrence">
                        <th mat-header-cell *matHeaderCellDef>Earning reference</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                {{ element?.refrence }}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Active Column -->
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef>Active</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [(ngModel)]="element.active" (change)="update(element)">
                            </mat-slide-toggle>
                            <!-- <div class="info d-flex align-items-center">
                                <div class="info d-flex align-items-center">
                                    <span class="badge rounded-pill text-soft-success"
                                        *ngIf="element?.active">Active</span>
                                    <span class="badge rounded-pill text-soft-danger"
                                        *ngIf="!element?.active">Inactive</span>
                                </div>
                            </div> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                            No data matching the filter
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator #paginator [length]="count" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons aria-label="Select page"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>