<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">Assign admin to projects</h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    business_center
                </i>
                Workforce Management
            </a>
        </li>
        <li class="breadcrumb-item position-relative">Admin Project</li>
    </ol>
</div>
<mat-card class="daxa-card create-product-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-content>
        <form [formGroup]="AdminProjectForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <!-- Admin Dropdown -->
                <div class="col-md-6 col-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Admin</label>
                        <mat-form-field>
                            <mat-label>Admin</mat-label>
                            <mat-select placeholder="Select Admin" formControlName="adminId" required>
                                <mat-option *ngFor="let admin of admins" [value]="admin.userId">
                                    {{ admin.userName }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="
                                    AdminProjectForm?.get('adminId')?.hasError(
                                        'required'
                                    )
                                ">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Project Dropdown -->
                <div class="col-md-6 col-12">
                    <div class="mb-25">
                        <label class="main-label d-block lh-1 text-black">Project</label>
                        <mat-form-field>
                            <mat-label>Project</mat-label>
                            <mat-select placeholder="Select Project" formControlName="projectIds" multiple>
                                @for (project of projects; track project) {
                                <mat-option [value]="project.projectId">{{project.projectName}}</mat-option>
                                }
                            </mat-select>
                            <!-- <mat-select placeholder="Select Project" formControlName="projectId" required>
                                <mat-option *ngFor="let project of projects" [value]="project.projectId">
                                    {{ project.projectName }}
                                </mat-option>
                            </mat-select> -->
                            <mat-error *ngIf="
                                    AdminProjectForm?.get('projectId')?.hasError(
                                        'required'
                                    )
                                ">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="mt-3 btn-box">
                <button mat-button mat-flat-button class="daxa" type="submit" [disabled]="AdminProjectForm.invalid">
                    {{editMode ?'Update':''}} Assign to projects
                </button>

                <!-- Error Message -->
                <mat-error *ngIf="errorMsg">{{ errorMsg }}</mat-error>
            </div>
        </form>

        <hr>

        <div class="products-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">
                    <!-- User Name Column -->
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef>User Name</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="info d-flex align-items-center">
                                <a class="d-block fw-medium">
                                    {{ element?.userName }}
                                </a>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Projects Column -->
                    <ng-container matColumnDef="projectName">
                        <th mat-header-cell *matHeaderCellDef>Projects</th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <span class="badge rounded-pill text-soft-primary" style="margin-right: 10px;" *ngFor="let project of element.projects">
                                {{project.projectName}}
                            </span> -->
                            <mat-chip-grid #chipGrid aria-label="Enter keywords">
                                @for (project of element.projects; track project) {
                                    <mat-chip-row class="badge rounded-pill text-soft-primary" (removed)="removeProject(element.userId, project)">
                                        {{project.projectName}}
                                        <button matChipRemove aria-label="'remove ' + keyword">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-row>
                                }
                                <input placeholder="New keyword..." [matChipInputFor]="chipGrid"/>
                            </mat-chip-grid>
                            <!-- <div *ngFor="let project of element.projects">
                                <p>{{ project.projectName }}</p>
                            </div> -->
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="updateAdmin(element)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Edit</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">
                            No data matching the filter
                        </td>
                    </tr>
                </table>
            </div>
            <mat-paginator #paginator [length]="count" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30]"
                showFirstLastButtons aria-label="Select page"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>